.law-drag-and-drop-wrapper {
  background-image: url("/assets/background/law-background.jpg");
  background-size: cover;
  position: relative;
  background-position: center;
}

#law-drag-and-drop-audio {
  transform: translateX(50%);
}
