.bias-type-in-next-wrapper {
  background-image: url("/assets/background/gray-background.jpg");
  background-size: cover;
  position: relative;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.saying-logo {
  border: 4px solid white;

  img {
    @apply w-full h-full;
  }
}

.saying-text {
  background: white;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    border-left: 14px solid transparent;
    border-right: 31px solid transparent;
    border-bottom: 23px solid white;
    transform: rotate(144deg);
    left: -30px;
    top: 52px;
  }
}

.type-in-next-respond-feedback-wrapper {

  .type-in-next-respond {
    .type-in-next-respond-wrapper {
      height: 85%;
      .type-in-next-respond-title {
        @apply md:mb-4 lg:mb-8 md:pb-4 lg:pb-8;
        border-bottom: 2px solid #e0dfcb;
      }

      textarea {
        @apply md:text-xl lg:text-2xl w-full;
        height: 65%;
        &::placeholder {
          @apply md:text-xl lg:text-2xl italic text-black;
        }
      }
    }
  }

  .type-in-next-feedback {
    .type-in-next-feedback-wrapper {
      height: 85%;
      .type-in-next-feedback-title {
        @apply md:mb-4 lg:mb-8 md:pb-4 lg:pb-8;
        border-bottom: 2px solid #e0dfcb;
      }
    }
  }

  .type-in-done-button,
  .type-in-continue-button {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    @apply md:text-lg lg:text-xl;
    background: #eeece1;
    border-radius: 5px;
    text-transform: uppercase;
  }
}
