.image-drag-and-drop {
  background-image: url("/assets/background/initial-3-background.jpg");
  background-size: cover;
  position: relative;
  background-position: center;
  transition: background-image ease 2s;
  @apply w-full h-full flex flex-col items-center justify-start;
}

.text-drag-people-normal {
  position: absolute;
  left: -10%;
  bottom: -10%;
  @apply w-1/2 md:-bottom-12 lg:-bottom-40;
}

.text-drag-drop-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .drag-target {
    width: 100%;
    text-align: center;
    @apply md:text-xl lg:text-4xl;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
  }
}

.drag-drop-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}

.drag-and-drop-title {
  @apply opacity-0 m-auto md:mt-12 lg:mt-20 relative;
}

.drag-and-drop-initial-title, .drag-and-drop-finish-title{
  @apply opacity-0 text-white md:text-2xl lg:text-4xl block;
}

.drag-and-drop-finish-title {
 @apply absolute text-center w-full;
}

.image-drop-zones {
  width: 100%;

  .image-drop-zone {
    @apply md:h-44 lg:h-52;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #dbd8c1;

    .image-drop-zone-content {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        @apply w-full h-full;
      }
    }
  }
}

.image-drag-source-wrapper {
  @apply w-10/12;
  height: fit-content;
  background: #e0dfcb;
  display: flex;
  align-items: center;
  justify-content: center;

  .image-draggable {
    @apply w-full md:p-2 lg:p-4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .choice-image {
      @apply md:w-32 lg:w-48 md:h-32 lg:h-48 shadow-md md:mr-6 lg:mr-8;
      border: 2px solid white;
      img {
        @apply w-full h-full;
      }
    }

    .choice-text {
      @apply text-center md:text-lg lg:text-2xl;
    }
  }
}

.done-button {
  top: 64%;
}