.text-drag-and-drop {
  background-image: url("/assets/background/decisions.jpg");
  background-size: cover;
  position: relative;
  background-position: center;
  transition: background-image ease 2s;
  @apply w-full h-full flex flex-col items-center justify-start;
}

.text-drag-people-normal {
  position: absolute;
  left: -10%;
  bottom: -10%;
  @apply w-1/2 md:-bottom-12 lg:-bottom-40;
}

.text-drag-drop-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .drag-target {
    width: 100%;
    text-align: center;
    @apply md:text-xl lg:text-4xl;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
  }
}

.drag-drop-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}

.drag-and-drop-title {
  @apply opacity-0 m-auto md:mt-12 lg:mt-20 relative;
}

.drag-and-drop-initial-title, .drag-and-drop-finish-title{
  @apply opacity-0 text-white md:text-2xl lg:text-4xl block;
}

.drag-and-drop-finish-title {
 @apply absolute text-center w-full;
}

.text-drop-zones {
  width: 100%;

  .text-drop-zone {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &.filled {
      background: #e0dfcb;
    }

    .text-drop-zone-content {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      background: transparent;
      @apply md:text-sm lg:text-2xl md:p-2 lg:p-8;
      font-weight: bold;
      text-align: center;
    }
  }
}

.drag-source-wrapper {
  @apply w-4/12 h-1/3;
  background: white;
  border: 2px dotted black;
  display: flex;
  align-items: center;
  justify-content: center;

  .draggable {
    color: white;
    @apply w-full md:p-2 lg:p-4 md:py-6 lg:py-12 md:mx-8 lg:mx-20 md:text-xl lg:text-2xl;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #414141;
  }
}

.done-button {
  top: 64%;
}