.quote-1, .quote-2, .quote-3 {
  @apply text-5xl leading-tight;

  .additional {
    @apply text-xl;
  }
}

.quote-up {
  @apply top-0 w-48;

  img {
    width: 100%;
    height: 100%;
  }
}

.quote-down {
  @apply bottom-4 w-48;
  img {
    width: 100%;
    height: 100%;
  }
}
