.text-drag-and-drop {
  background-image: url("/assets/background/decisions.jpg");
  background-size: cover;
  position: relative;
  background-position: center;
  transition: background-image ease 2s;
  @apply w-full h-full flex flex-col items-center justify-start;
}

.text-drag-people-normal-wrapper {
  position: absolute;
  left: -10%;
  @apply w-4/6 -bottom-12;
}

.text-drag-drop-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .text-drag-target {
    width: 100%;
    text-align: center;
    @apply text-3xl;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
  }
}

.drag-drop-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}

.text-drag-and-drop-title {
  @apply opacity-0 mt-20 relative;
}

.text-drag-and-drop-initial-title, .text-drag-and-drop-finish-title{
  @apply opacity-0 text-white block;
}

.text-drag-and-drop-finish-title {
 @apply absolute text-center w-full;
}

.text-drop-zones {
  width: 100%;

  .text-drop-zone {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &.filled {
      background: #e0dfcb;
    }

    .text-drop-zone-content {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      background: transparent;
      @apply text-2xl p-8;
      font-weight: bold;
      text-align: center;
    }
  }
}

.drag-source-wrapper {
  @apply w-4/12 h-1/4;
  background: white;
  border: 2px dotted black;
  display: flex;
  align-items: center;
  justify-content: center;

  .draggable {
    color: white;
    @apply w-full p-4 py-12 mx-6 text-xl;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #414141;
  }
}

.done-button {
  top: 64%;
}
