.list-items-wrapper {
  background: transparent;
}

.list-item-wrapper {
  margin-bottom: 40px;
  &:hover {
    color: white;
  }
  cursor: pointer;

  .bullet {
    @apply absolute w-8 h-8;
    border: 2px solid black;
    border-radius: 50%;
    background: transparent;
    margin-top: 5px;
  }
  .list-item-title {
    @apply text-3xl pl-12;
  }
}
