.footer-nav {
  height: 56px;

  .back, .next {
    @apply flex bg-black font-bold italic text-white cursor-pointer content-center justify-center p-4;
    transition: all ease 0.3s;
    height: 56px;
    &.hide {
      visibility: hidden;
    }

    &:hover {
      background: #ebc344;
    }
  }
}
