.fade-element {
  transition: opacity 3s linear;
  transition-delay: 300ms;
}

.identity {
  color: #ddd9c3;
}
.slide-1-wrapper {
  transition: opacity 1s linear;
}

.slide-2 {
  transition: opacity 1s linear;
}
