.page-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  &.decisions-3-page {
    background-image: url("/assets/background/decisions.jpg");
    background-size: cover;
    background-position: center;
  }

  &.decisions-4-page, &.decisions-5-page, &.decisions-6-page {
    background-image: url("/assets/background/gray-background.jpg");
    background-size: cover;
    background-position: center;
  }

  .slick-slider.slick-vertical {
    width: 150px;
  }

  .slide-item {
    height: 50px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: 900;
    font-style: italic;
  }

  .up-button, .down-button {
    cursor: pointer;
    img {
      margin: auto;
    }
  }
}

.introduction-wrapper {
  background: #999999;
}

.history-wrapper {
  background: #d9d49d;
}

.bias-wrapper {
  background: #c0c894;
}

.law-wrapper {
  background: #e4b69e;
}

.decisions-wrapper {
  background: #ccba8c;
}

.responsibility-wrapper {
  background: #b9a1a1;
}
