.introduction-slide1-page {
  background-image: url("/assets/background/gray-background.jpg");
  background-size: cover;
  position: relative;
  background-position: center;
}

.introduction-item {
  img {
    @apply w-6/12;
  }

  @apply p-12 h-full flex flex-col justify-evenly items-center;
}

#slide-1 {
  transform: translateX(50%);
  z-index: 1;
}

.item-header {
  @apply flex flex-col justify-center items-center;
}

.item-title {
  @apply text-xl my-4 pb-4 text-center uppercase text-white;
  border-bottom: 2px solid white;
}

.item-answer {
  @apply text-2xl mb-6 text-center text-white;
}

.custom-yellow {
  color: #c4bd97;
  transition: all ease 1s;
}

.persons-wrapper {
  width: 45%;
  height: 70%;
  left: 20%;
  bottom: 0;

  img {
    margin: auto;
  }
}
