.bias-single-correct-wrapper {
  background-image: url("/assets/background/gray-background.jpg");
  background-size: cover;
  position: relative;
  background-position: center;
}

#bias-single-correct-audio {
  transform: translateX(50%);
}

.choices-wrapper {
  .choices-title {
    border-bottom: 2px solid #e0dfcb;
  }

  .choice-wrapper {
    @apply p-4 text-center mb-4 cursor-pointer;
    background: #595959;

    &:hover {
      background: #808080;
    }

    &.active {
      background: #808080;
    }

    &.active-correct {
      background: #cecdba;
    }
  }
}

.whole-overlap {
  z-index: 1;
  background: rgba(0,0,0,0.2);
}

.single-correct-person-wrapper {
  transform: scale(1.3);
}
