@tailwind base;
@tailwind components;
@tailwind utilities;

.player-wrapper {
  padding-top: 56px;
  padding-bottom: 56px;
  width: 100%;
  height: 100vh;
  background: white;
}

.App {
  overflow: hidden;
}
