.initial-4-wrapper {
  position: relative;

  .background-wrapper {
    width: 150%;
    height: 100%;
    left: -30%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .string-wrapper {
    top: 20%;
    left: 26%;
    @apply text-6xl;
    color: white;
  }
}
