.bias-type-in-wrapper {
  background-image: url("/assets/background/bias-type-in.jpg");
  background-size: cover;
  position: relative;
  background-position: center;
}

#bias-type-in-audio {
  transform: translateX(50%);
}
