.introduction-slide1-page {
  background-image: url("/assets/background/gray-background.jpg");
  background-size: cover;
  position: relative;
  background-position: center;
}

.introduction-item {
  img {
    @apply md:w-5/12 lg:w-6/12;
  }

  @apply md:p-5 lg:p-12 h-full flex flex-col justify-around items-center;
}

.item-header {
  @apply flex flex-col justify-center items-center;
}

.item-title {
  color: white;
  @apply md:text-xl lg:text-3xl;
  @apply md:my-2 lg:my-4;
  @apply md:pb-2 lg:pb-4;
  text-align: center;
  border-bottom: 2px solid white;
  text-transform: uppercase;
}

.item-answer {
  text-align: center;
  color: white;
  @apply md:text-2xl lg:text-3xl;
  @apply md:mb-5 lg:mb-6;
}

.custom-yellow {
  color: #c4bd97;
  transition: all ease 1s;
}

.persons-wrapper {
  width: 45%;
  height: 70%;
  bottom: -10%;
  left: 20%;

  img {
    margin: auto;
  }
}
