.history-slide {
  @apply bg-black;
}

.quote-1 {
  top: 180px;
  @apply text-6xl;

  .additional {
    @apply text-xl;
  }
}

.history-quote-up {
  @apply top-6 w-32;

  img {
    width: 100%;
    height: 100%;
  }
}

.history-quote-down {
  @apply w-32;
  bottom: 190px;
  img {
    width: 100%;
    height: 100%;
  }
}
